.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
test/**
out/**
coverage/**
node_modules/**
.git/**
.gitignore
.eslintrc*
eslint.config.*
tsconfig.json
esbuild.cjs
test.js
vsc-extension-quickstart.md

dist/**
!dist/extension.js

**/*.map
**/*.ts